In [6]:
from sklearn.metrics import mean_squared_error
import pandas as pd
import random

In [8]:
random.seed(0)

with open("missing_values_signals_69435.csv", "w") as f:
    with open("signals_69435.csv") as infile:
        for line in infile:
            if random.random() > 0.2:
                f.write(line)

In [21]:
df_original = pd.read_csv("signals_69435.csv", header=None, names=["time", "HR", "ABPSys", "ABPDias", "ABPMean", "RESP", "SpO2"])
df_original = df_original[["time", "RESP"]]

In [23]:
df_linear = pd.read_csv("interpolation_linear.csv", header=None, names=["time", "label", "RESP"])
df_linear = df_linear[["time", "RESP"]]
df_spline = pd.read_csv("interpolation_spline.csv", header=None, names=["time", "label", "RESP"])
df_spline = df_linear[["time", "RESP"]]
df_locf = pd.read_csv("interpolation_locf.csv", header=None, names=["time", "label", "RESP"])
df_locf = df_linear[["time", "RESP"]]
df_nocb = pd.read_csv("interpolation_nocb.csv", header=None, names=["time", "label", "RESP"])
df_nocb = df_linear[["time", "RESP"]]

In [28]:
#df_linear.drop(index=[0,1,2,3,4167,4168,4169,4170], inplace=True)
df_linear

                         time  RESP
4     2108-09-20 15:27:56.000   0.0
5     2108-09-20 15:28:56.000   0.0
6     2108-09-20 15:29:56.000   0.0
7     2108-09-20 15:30:56.000   0.0
8     2108-09-20 15:31:56.000   0.0
...                       ...   ...
4162  2108-09-23 12:45:56.000   0.0
4163  2108-09-23 12:46:56.000   0.0
4164  2108-09-23 12:47:56.000   0.0
4165  2108-09-23 12:48:56.000   0.0
4166  2108-09-23 12:49:56.000   0.0

[4163 rows x 2 columns]

In [22]:
df_original

                     time  RESP
0     15:27:56 20/09/2108   0.0
1     15:28:56 20/09/2108   0.0
2     15:29:56 20/09/2108   0.0
3     15:30:56 20/09/2108   0.0
4     15:31:56 20/09/2108   0.0
...                   ...   ...
4158  12:45:56 23/09/2108   0.0
4159  12:46:56 23/09/2108   0.0
4160  12:47:56 23/09/2108   0.0
4161  12:48:56 23/09/2108   0.0
4162  12:49:56 23/09/2108   0.0

[4163 rows x 2 columns]

In [29]:
mse_linear = mean_squared_error(df_original["RESP"], df_linear["RESP"], squared=False)